*{
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

html body {
  /*background-color: #1f1f1f;*/
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;

}

#hp {
  background-image: url('../images/maxresdefault.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background-position: 85% 50%;
  zoom: 1.0;
}

.get-started-btn {
  background-color: #0079FF;
  color: white;
  height: 52px;
  width: 85%;
  padding: 20px 20px 20px 20px;
}

.hp-headline {
  background-color: linear-gradient(rgba(52,51,76, 0.9),rgba(52,51,76, 0.9));
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30%;
}

.btn-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
